* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.header {

    height: 100vh;
    background-image: url(/img/bgHome.png);
    background-position: center;
    background-size: cover;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo1 img {
    width: 60px;
    margin-left: 60px;
    margin-top: 20px;
}

.home ul {
    margin-top: 20px;
    margin-left: -200px;
}

.home ul li {
    display: inline-block;

}



.home ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0px 15px;
    transition: .4s;
}

.home ul li a:hover {
    color: crimson;

}



.navbar__right {
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.navbar__right select {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
}

.navbar__right a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    transition: .4s;
}

.navbar__right a:hover {
    color: crimson;
}

.navbar__right button {
    padding: 10px 25px;
    border-radius: 30px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
    transition: .4s;
}

.navbar__right button:hover {
    background-color: #fff;
    color: #316DA6;
    border: 1px solid #316DA6;

}

.navbar__sepet {
    background-color: crimson;
    padding: 6px 16px;
    border-radius: 30px;
    color: #fff;
    margin-right: 80px;
    cursor: pointer;

}

.main {
    display: flex;


}

.main__right img:first-child {
    width: 300px;
    position: absolute;
    top: 240px;
    right: 300px;
    z-index: 1;
}



.main__right img:last-child {
    width: 510px;
    position: absolute;
    right: 0;
    top: 150px;

}

.main__left {
    margin-left: 60px;
    color: #fff;
    margin-top: 80px;

}

.main__left h1 {
    line-height: 50px;
    font-size: 40px;

}

.main__left .text {
    color: yellow;

}

.main__left .text span {
    color: #fff;
}

.main__left p {
    margin-top: 40px;
}

.main__left button {
    margin-top: 30px;
    padding: 14px 36px;
    color: #316DA6;
    background-color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: .4s;

}

.main__left button:hover {
    background-color: #316DA6;
    color: #fff;
    border: 1px solid #fff;
}

.content {

    height: 100vmax;
    background-image: url(/img/bgContent.png);
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    position: relative;




}

.back {
    color: #fff;
    text-align: center;
    position: relative;
    top: 60px;
}

.back h1 {
    font-weight: 300;

}

.back h1 span {
    font-weight: 600;
}

.back p {
    margin: 20px 250px;
    line-height: 25px;
    font-weight: 300;
    font-size: 14px;
}

.front {
    position: relative;
    width: 1000px;
    height: 1100px;
    background-color: #fff;
    border-radius: 30px;
    margin: 130px 180px;
    box-shadow: 0px 0px 20px;

}

.metin1 {
    display: inline-block;
    background-color: transparent;
    width: 60vh;
    height: 66vh;
    margin: 80px 0px 90px 80px;
    position: relative;
}

.metin1 p {
    margin: 20px 0px;
    font-size: 14px;
}

.metin1 button {
    padding: 10px 25px;
    border-radius: 30px;
    color: #fff;
    background-color: #316DA6;
    border: 1px solid #316DA6;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

.metin1 button:hover {
    background-color: #fff;
    color: #316DA6;
    border: 1px solid #316DA6;

}


.content__img1 img {
    width: 50%;
    position: absolute;
    top: 80px;
    right: 50px;

}

.content__img2 img {
    width: 40%;
    position: absolute;
    top: 400px;
    left: 100px;

}

.metin2 {
    display: inline-block;
    background-color: transparent;
    width: 60vh;
    height: 66vh;
    margin: -180px 0px 0px 550px;
    position: relative;
}

.metin2 p {
    margin: 20px 0px;
    font-size: 14px;
}

.metin2 button {
    padding: 10px 25px;
    border-radius: 30px;
    color: #fff;
    background-color: #316DA6;
    border: 1px solid #316DA6;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

.metin2 button:hover {
    background-color: #fff;
    color: #316DA6;
    border: 1px solid #316DA6;

}

.metin3 {
    display: inline-block;
    background-color: transparent;
    width: 60vh;
    height: 66vh;
    margin: -30px 0px 0px 80px;
    position: relative;
}

.metin3 p {
    margin: 20px 0px;
    font-size: 14px;
}

.metin3 button {
    padding: 10px 25px;
    border-radius: 30px;
    color: #fff;
    background-color: #316DA6;
    border: 1px solid #316DA6;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

.metin3 button:hover {
    background-color: #fff;
    color: #316DA6;
    border: 1px solid #316DA6;

}

.content__img3 img {
    width: 40%;
    position: absolute;
    bottom: 30px;
    right: 70px;

}

.content2 {
    position: relative;
    margin-top: 10px;
    height: 100vh;
    background-color:aliceblue;
    box-shadow: 0px 2px 6px;
   

}

.baslik {
    position: absolute;
    margin-top: 20px;
    text-align: center;
}

.baslik h1 {
    color: orangered;
    font-weight: 400;
    font-size: 40px;

}

.baslik h1 span {
    color: #000;
    font-weight: 600;
}

.baslik p {
    margin: 20px 320px;
    font-size: 13px;
    font-weight: 500;
    color: gray;
}

.personel span,.personel2 span, .personel3 span {
    font-size: 24px;
    color: orangered;
}

.client {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    

}

.personel {
    width: 33%;
    border-radius: 20px;
    text-align: center;
    margin-top: 180px;
    background-color:#fff;
    margin-top: 80px;
   

}

.personel img {
    width: 70px;
    margin-top: -50px;

}

.personel h2 {
    font-size: 20px;
    padding: 0px 20px 10px;

}

.personel p {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 18px;
    letter-spacing: 1px;
    line-height: 20px;

}

.personel2 {
    background-color:#fff;
    width: 33%;
    border-radius: 20px;
    text-align: center;
    margin-top: 80px;
    
    
 
}

.personel2 img {
    margin-top: -50px;
    width: 70px;
}

.personel2 h2 {
    font-size: 20px;
    padding: 0px 20px 10px;

}

.personel2 p {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 18px;
    letter-spacing: 1px;
    line-height: 20px;

}

.personel3 {
    background-color:#fff;
    width: 33%;
    border-radius: 20px;
    text-align: center;
    margin-top: 80px;
  
}
.personel3 img {
    margin-top: -50px;
    width: 70px;

}

.personel3 h2 {
    font-size: 20px;
    padding: 0px 20px 10px;

}

.personel3 p {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 18px;
    letter-spacing: 1px;
    line-height: 20px;

}

.logo2{
position: absolute;
bottom: 60px;
display: inline-block;
justify-content: space-between;
align-items: center;
margin-left:250px;
}

.logo2 img{
    margin: 0px 40px;
    text-align: center;
    background-color: transparent;
    width: 80px;
    cursor: pointer;
}